@font-face {
    font-family: inria serif;
    src: url(../Inria_Serif/InriaSerif-Regular.ttf);
}
@font-face {
    font-family: inria serif;
    src: url(../Inria_Serif/InriaSerif-Bold.ttf);
}

@font-face {
    font-family: inria serif;
    src: url(../Inria_Serif/InriaSerif-Bold.ttf);
}

@font-face {
    font-family: inria serif;
    src: url(../Inria_Serif/InriaSerif-Light.ttf);
}

h1 {
    color: rgb(220, 197, 220);
}

img {
    width: 100%;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 2%;
}

.posIsion {
    position: absolute;
    top: 10px;
    left: 90px;
}

h2 {
    position: absolute;
    top: 15px;
    left: 46%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.heighT {
    height: 80px;
}

.custom-bg-color {
    background-color: #f0f0f0;
    margin-top: 2%;
    height: auto;
}

.custom-shadow {
    box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.212);
}

.bgLightGray {
    background-color: rgb(214, 214, 214);
}

p {

    font-family: InriaSerif-Bold;
    font-weight: 500;
}
